.normal-link
  color: inherit

  &:visited, &:hover, &:active
    color: inherit

  &:hover
    text-decoration: underline

.is-text-overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.is-extra-small
  height: 0.25rem
